{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Logged out" %}{% endblock %}

{% block content %}
<div class="alert alert-success" role="alert"><strong>See you back soon!</strong> {% trans "Successfully logged out" %}.</div>
{% endblock %}