{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset complete" %}{% endblock %}

{% block content %}
<div class="alert alert-success" role="alert">
  <p><strong>{% trans "Your password has been reset!" %}</strong></p>
  <p>{% trans "You may now" %}<a href="{{ login_url }}">{% trans "log in" %}</a>.</p>
</div>
{% endblock %}


{# This is used by django.contrib.auth #}