{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Password changed" %}{% endblock %}

{% block content %}
<div class="alert alert-success" role="alert"><strong>Success!</strong> {% trans "Password successfully changed!" %}</div>
{% endblock %}


{# This is used by django.contrib.auth #}