{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Activation email sent" %}{% endblock %}

{% block content %}
<div class="alert alert-success" role="alert"><string>Success!</string> {% trans "Please check your email to complete the registration process." %}</div>
{% endblock %}


{% comment %}
<!--
**registration/registration_complete.html**

Used after successful completion of the registration form. This
template has no context variables of its own, and should simply inform
the user that an email containing account-activation information has
been sent.
-->
{% endcomment %}
