{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Registration is closed" %}{% endblock %}

{% block content %}
<div class="alert alert-danger" role="alert"><strong>Oh snap!</strong> {% trans "Sorry, but registration is closed at this moment. Come back later." %}</div>
{% endblock %}