<div>
  <div fixed-ratio>
    <div class="chessboard">
      <div ng-repeat="(y, row) in board | orderBy:'y':rotate track by $index">
        <div ng-repeat="(x, piece) in row | orderBy:'x':rotate track by $index">
          <div fixed-ratio
               class="chessboard-field-{{(x + y) % 2 ? 'black' : 'white'}}"
               ng-class="{'target': targets[rot(y)][rot(x)], 'movable': movables[rot(y)][rot(x)]}"
               drop="targets[rot(y)][rot(x)]"
               jqyoui-options
               jqyoui-droppable="{onDrop: '_move(rot(x), rot(y))'}">

            <div ng-if="piece"
                 class="chess-piece"
                 drag="movables[rot(y)][rot(x)]"
                 jqyoui-options="{revert: 'invalid'}"
                 jqyoui-draggable="{animate: true,
                                    onStart: '_select(rot(x), rot(y))',
                                    onStop: '_reset(rot(x), rot(y))'}">
              <div class="piece" style="background: url({{'/static/core/assets/pieces/' + piece.type + '-' + piece.color + '.svg'}});"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
