{% extends "global/base.html" %}
{% load djangular_tags %}

{% block title %}#{{ game_id }} {{ title }}{% endblock %}

{%block styles %}
<!-- build:css(.tmp) /static/core/style/chessboard.css -->
<link rel="stylesheet" href="/static/core/styles/game.css">
<link rel="stylesheet" href="/static/core/styles/chessboard.css">
<link rel="stylesheet" href="/static/core/styles/utils.css">
<!-- endbuild -->
{%endblock%}

{%block content %}

{% angularjs %}
<div fix-size class="game" ng-controller="GameController" ng-init="init(false)">

  <!-- Modal -->
  <!-- fire it up with `$('#promotionModal').modal('show');` -->
  <!-- close with `$('#promotionModal').modal('hide');` -->
  <div class="modal fade" data-keyboard="false" data-backdrop="static" id="promotionModal" tabindex="-1" role="dialog" aria-labelledby="promoteTitleLabel">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="promoteTitleLabel">Promote your pawn</h4>
        </div>
        <div class="modal-body" style="text-align: center;" id="piece-selection">
          <button ng-click="upgrade('queen')" class="btn btn-default" type="submit" data-dismiss="modal">
            <img src="/static/core/assets/pieces/queen-black.svg"></img>
          </button>
          <button ng-click="upgrade('knight')" class="btn btn-default" type="submit" data-dismiss="modal">
            <img src="/static/core/assets/pieces/knight-black.svg"></img>
          </button>
          <button ng-click="upgrade('bishop')" class="btn btn-default" type="submit" data-dismiss="modal">
            <img src="/static/core/assets/pieces/bishop-black.svg"></img>
          </button>
          <button ng-click="upgrade('tower')" class="btn btn-default" type="submit" data-dismiss="modal">
            <img src="/static/core/assets/pieces/tower-black.svg"></img>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper">

    <div class="board">
      <div chess-board
           rotate="rotate"
           board="board"
           movables="movables"
           targets="targets"
           move="move"
           select="select"
           reset="reset"></div>
    </div>

    <div class="sidebar" ng-controller="ChatController">

      <div class="header">
        {% verbatim %}
          <div style="height: 34px !important">
            <button ng-hide="!connection_ready" type="button" class="btn btn-default" ng-click="toggleRotation()">
              <span class="glyphicon glyphicon-refresh" style="vertical-align:middle"></span> Rotate the board
            </button>
          </div>
          <div style="margin: 3px 0px 10px 0px; width: 100%">
            <b>Last move:</b> {{ game_info.timestamp | date:'yyyy-MM-dd HH:mm:ss' }}<br/>
            <b>Player white:</b>
              <span ng-if="game_info.player_white != null">
                {{ game_info.player_white }}
              </span>
              <span ng-if="game_info.player_white == null">
                <i>waiting for a player...</i>
              </span><br />
            <b>Player black:</b>
              <span ng-if="game_info.player_black != null">
                {{ game_info.player_black }}
              </span>
              <span ng-if="game_info.player_black == null">
                <i>waiting for a player...</i>
              </span>
          </div>
        {% endverbatim %}

        <div style="height: 34px !important">
          <form class="controls" style="width: 100%;" ng-hide="!connection_ready" name="message_form"
                ng-submit="send_message(message); message=''; message_form.$setPristine()">
            <div class="input-group">
              <input type="text" class="form-control" ng-model="message" placeholder="your chat message..." />
              <span class="input-group-btn">
                {% if user.is_authenticated %}
                <button type="submit" class="btn btn-primary" style="height: 34px;">
                {% else %}
                <button type="submit" class="btn btn-disabled" style="height: 34px;">
                {% endif %}
                  <span class="glyphicon glyphicon-send"></span>
                </button>
              </span>
            </div>
          </form>
        </div>
      </div>

      <div class="messages">
        {% if not user.is_authenticated %}
        <div class="message">
          <span class="server">server:</span>
          <span class="msg-text">You need to login to use chat.</span>
        </div>
        {% endif %}
        <div class="message" ng-repeat="message in messages | reverse track by $index">
          <span class="user" ng-if="message.user != null">{{ message.user }}:</span>
          <span class="server" ng-if="message.user == null">server:</span>
          <span class="msg-text">{{ message.message }}</span>
        </div>
        </ul>
      </div>

    </div>
  </div>
</div>


{% endangularjs %}
{%endblock%}

{%block scripts %}
<script type="text/javascript">
  angular.module('chessOnline').constant('game_id', {{ game_id }});
</script>
<!-- build:js(sources) /static/core/scripts/game.js -->
<script type="text/javascript" src="/static/core/scripts/controllers/chat.js"></script>
<script type="text/javascript" src="/static/core/scripts/controllers/game.js"></script>
<script type="text/javascript" src="/static/core/scripts/directives/fixedratio.js"></script>
<script type="text/javascript" src="/static/core/scripts/directives/chessboard.js"></script>
<script type="text/javascript" src="/static/core/scripts/directives/fix-size.js"></script>
<!-- endbuild -->
{%endblock%}
