{% extends "global/base.html" %}
{% load djangular_tags %}

{% block title %}Chess Online{% endblock %}

{% block styles %}
<!-- build:css(.tmp) /static/core/styles/lobby.css -->
<link rel="stylesheet" href="/static/core/styles/lobby.css">
<!-- endbuild -->
{% endblock %}

{% block content %}
{% angularjs %}
<div ng-controller="GamesListController">
  <div class="container">
    <!-- Game Info Modal -->
    <div class="modal fade" id="gameInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Game “{{ sGame.title }}”</h4>
          </div>
          <div class="modal-body">
            <table class="game_data">
              <tr>
                <th>White ♙</th>
                <td ng-if="sGame.player_white != null">{{ sGame.player_white }}</td>
                <td ng-if="sGame.player_white == null"><i>waiting for a player</i></td>
              </tr>
              <tr>
                <th>Black ♟</th>
                <td ng-if="sGame.player_black != null">{{ sGame.player_black }}</td>
                <td ng-if="sGame.player_black == null"><i>waiting for a player</i></td>
              </tr>
              <tr>
                <th>Last move at</th>{% verbatim %}
                <td>{{ sGame.timestamp | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                {% endverbatim %}
              </tr>
              <tr>
                <th>Current move #</th>
                {% verbatim %}
                <td>{{ sGame.transcript.length+1 }}</td>
                {% endverbatim %}
              </tr>
            </table>
            <div class="inline_header" ng-if="sGame.transcript.length>0">Transcript</div>
            {% verbatim %}
            <div class="transcript">
              <div ng-repeat="line in sGame.transcript">
                {{ line.from_field }} → {{ line.to_field }}
              </div>
            </div>
            {% endverbatim %}
          </div>
          <form name="join_form" method="post" action="{% url 'join_game' %}">{% csrf_token %}
            <input type="hidden" name="game_id" value="{{ sGame.id }}">
            <input type="hidden" name="join_as" value="">
          </form>
          <form name="exit_form" method="post" action="{% url 'exit_game' %}">{% csrf_token %}
            <input type="hidden" name="game_id" value="{{ sGame.id }}">
            <input type="hidden" name="exit_as" value="">
          </form>
          <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            {% if user.is_authenticated %}
              <button ng-if="sGame.player_white == '{{ user.username }}'" type="button" class="btn btn-danger" onclick="document.exit_form.exit_as.value='player_white';document.exit_form.submit()">Exit (white ♙)</button>
              <button ng-if="sGame.player_black == '{{ user.username }}'" type="button" class="btn btn-danger" onclick="document.exit_form.exit_as.value='player_black';document.exit_form.submit()">Exit (black ♟)</button>
            {% endif %}
            <div class="btn-group">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Join <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="javascript:document.join_form.join_as.value='spectator';document.join_form.submit()">Open the game</a></li>
                {% if user.is_authenticated %}
                  <li ng-if="sGame.player_white==null"><a href="javascript:document.join_form.join_as.value='player_white';document.join_form.submit()">Join as white ♙</a></li>
                  <li ng-if="sGame.player_black==null"><a href="javascript:document.join_form.join_as.value='player_black';document.join_form.submit()">Join as black ♟</a></li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% if user.is_authenticated %}
      <!-- New Game Modal -->
      <div class="modal fade" id="newGameModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Create a New Game</h4>
            </div>
            <form method="post" action="{% url 'create_game' %}">{% csrf_token %}
              <div class="modal-body">
                <div class="form-group">
                  <label for="titleInput">Game Title</label>
                  <input type="txt" name="game_title" maxlength="128" class="form-control" id="exampleInputEmail1" placeholder="Title">
                </div>
                <div class="form-group">
                  <label>Select Piece Color</label>
                  <div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="color_choice" id="optionsRadios1" value="white" checked>
                        White ♙
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="color_choice" id="optionsRadios2" value="black">
                        Black ♟
                      </label>
                    </div>
                    <p class="help-block">Select the piece color you would like to play.</p>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Set up a game</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    {% endif %}
    <!-- Messages -->
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-danger"><strong>Oh snap!</strong> {{ message }}</div>
      {% endfor %}
    {% endif %}

    <div class="row">
      <!-- New Game Button -->
      <div class="col-lg-3 col-md-3">
        {% if user.is_authenticated %}
          <button type="button" class="btn btn-default" data-toggle="modal" data-target="#newGameModal">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create a new game
          </button>
        {% else %}
          <a role="button" class="btn btn-default" href="/accounts/login?next=/">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Sign in to create a new game
          </a>
        {% endif %}
      </div>
      <div class="col-lg-9 col-md-9">
        <form ng-submit="search()" class="form-horizontal" role="search">
          <!-- Search -->
          <div class="input-group">
            {% verbatim %}
            <div class="dropdown input-group-btn">
              <button class="btn btn-default dropdown-toggle" type="button" id="search-for" style="height: 34px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{ searchCategories[selectedSearchCategory] }}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="search-for">
                <li><a href="javascript:void(0);" ng-click="selectedSearchCategory = 0"> All </a></li>
                <li><a href="javascript:void(0);" ng-click="selectedSearchCategory = 1"> # </a></li>
                <li><a href="javascript:void(0);" ng-click="selectedSearchCategory = 2"> Title </a></li>
                <li><a href="javascript:void(0);" ng-click="selectedSearchCategory = 3"> Player </a></li>
              </ul>
            </div>
            {% endverbatim %}
            <input ng-model="query" type="text" class="form-control" placeholder="Search for a game">
            <span class="input-group-btn">
              <button ng-click="search()" class="btn btn-primary" type="button" style="height: 34px;">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </span>
          </div>
        </form>
      </div>
    </div>

    <!-- Table -->
    <div class="table-responsive" style="margin-top: 15px;">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Title</th>
            <th>White ♙</th>
            <th>Black ♟</th>
            <th>Last Move</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="game in gamesList" ng-click="$parent.sGame = game;" data-toggle="modal" data-target="#gameInfoModal" style="cursor: pointer;">
            <td>{{ game.id }}</td>
            <td>{{ game.title }}</td>
            <td ng-if="game.player_white != null">{{ game.player_white }}</td>
            <td ng-if="game.player_white == null"><i>waiting for a player</i></td>
            <td ng-if="game.player_black != null">{{ game.player_black }}</td>
            <td ng-if="game.player_black == null"><i>waiting for a player</i></td>
            {% verbatim %}
              <td>{{ game.timestamp | date:'yyyy-MM-dd HH:mm:ss' }}</td>
            {% endverbatim %}
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endangularjs %}
{%endblock%}

{%block scripts %}
<!-- build:js(sources) /static/core/scripts/lobby.js -->
<script type="text/javascript" src="/static/core/scripts/controllers/games-list.js"></script>
<!-- endbuild -->
{%endblock%}
