{% load staticfiles %}
{% load swampdragon_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <title>{% block title %}Chess Online{% endblock %}</title>
    <!-- build:css(.tmp) /static/global/styles/vendor.css -->
      <!-- bower:css -->
      <!-- endbower -->
    <link rel="stylesheet" href="/static/global/styles/angular.css">
    <link rel="stylesheet" href="/static/global/styles/bower.css">
    <link rel="stylesheet" href="/static/global/styles/bootstrap.css">
    <!-- endbuild -->

    <!-- build:css(.tmp) /static/global/style/main.css -->
    <link rel="stylesheet" href="/static/global/styles/main.css">
    <link rel="stylesheet" href="/static/global/styles/navbar.css">
    <!-- endbuild -->

    {%block styles %}
    {%endblock%}

  </head>
  <body style="padding-top: 70px;">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Chess</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
                <ul class="dropdown-menu" style="padding: 20px; width: 300px;">
                  This project was created by:
                  <ul style="margin-left: 0px; padding-left: 0px; margin-top: 5px; margin-bottom: 15px; list-style-position: inside;">
                    <li>Marcin Chalecki</li>
                    <li>Michał Kośmider</li>
                    <li>Szymon Łopaciuk</li>
                  </ul>
                  Following free or open-source technologies were used:
                  <ul style="margin-left: 0px; padding-left: 0px; margin-top: 5px; list-style-position: inside;">
                    <li>Django</li>
                    <li>SwampDragon</li>
                    <li>AngularJS</li>
                    <li>Bootstrap</li>
                  </ul>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              {% if user.is_authenticated %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.username }}
                    {% if user.is_superuser %}
                    <span class="superuser_avatar"></span>
                    {% endif %}
                    <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/accounts/password/change/">Change password</a></li>
                    <li role="separator" class="divider"></li>
                    {% if user.is_superuser %}
                      <li><a href="/admin">Proceed to the Darkside...</a></li>
                      <li role="separator" class="divider"></li>
                    {% endif %}
                    <li><a href="/accounts/logout">Sign out</a></li>
                  </ul>
                </li>
              {% else %}
                <li><a href="/accounts/register/">Register</a></li>
                <li><a href="/accounts/login/">Sign in</a></li>
              {% endif %}
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

      <div ng-cloak ng-app="chessOnline">
        {%block content %}
        {%endblock%}
      </div>

    </div>

    <!-- build:js(.) /static/global/scripts/vendor.js -->
      <!-- bower:js -->
      <script src="/bower_components/jquery/dist/jquery.js"></script>
      <script src="/bower_components/angular/angular.js"></script>
      <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
      <script src="/bower_components/angular-animate/angular-animate.js"></script>
      <script src="/bower_components/angular-cookies/angular-cookies.js"></script>
      <script src="/bower_components/angular-resource/angular-resource.js"></script>
      <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
      <script src="/bower_components/angular-touch/angular-touch.js"></script>
      <script src="/bower_components/jquery-ui/jquery-ui.js"></script>
      <script src="/bower_components/angular-dragdrop/src/angular-dragdrop.js"></script>
      <!-- endbower -->
    <!-- endbuild -->

    {% swampdragon_settings %}
    <script type="text/javascript" src="/static/swampdragon/js/angular/services.js?v=1"></script>
    <script type="text/javascript" src="/static/swampdragon/js/dist/swampdragon.js"></script>
    <script type="text/javascript" src="/static/swampdragon/js/dist/datamapper.js"></script>

    <!-- build:js(sources) /static/global/scripts/scripts.js -->
    <script type="text/javascript" src="/static/global/scripts/app.js"></script>
    <script type="text/javascript" src="/static/global/scripts/utils.js"></script>
    <!-- endbuild -->

    {%block scripts %}
    {%endblock%}
  </body>
</html>
