{% load app_filters %}
<div style="">
  <form class="form-horizontal" method="post" action="">{% csrf_token %}
    {% for field in form %}
      {% if field.errors %}
        <div class="form-group">
          <label class="col-sm-2 control-label">{{ field.label }}</label>
          <div class="col-sm-10">
            {{ field|add_css_class:"form-control" }}
            <div class="alert alert-danger" role="alert">{% for error in  field.errors %}{{ error }}{% endfor %}</div>
            {% if field.help_text %}
              <p class="help-block"><small>{{ field.help_text }}</small></p>
            {% endif %}
          </div>
        </div>
      {% else %}
        <div class="form-group">
          <label class="col-sm-2 control-label">{{ field.label }}</label>
          <div class="col-sm-10">
            {{ field|add_css_class:"form-control" }}
            {% if field.help_text %}
              <p class="help-block"><small>{{ field.help_text }}</small></p>
            {% endif %}
          </div>
        </div>
      {% endif %}
    {% endfor %}
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Proceed</button>
      </div>
    </div>
  </form>
</div>