
.chessboard {
  display: table;
  table-layout: fixed;
  width: 100%;
  float: left;

  > div {
    display: table-row;

    > div {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }
  }
}

.chessboard-field {
  width: 100%;
  height: 100%;

  &.selected:hover, &.movable:hover, &.target:hover {
    background-size: 100% 100% !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
  }
}

.chessboard-field-white {
  @extend .chessboard-field;
  background: #FFF5CC;

  &.selected:hover, &.movable:hover {
    background-image: url('/static/core/assets/shadows/white_shadow.svg');
  }
}

.chessboard-field-black {
  @extend .chessboard-field;
  background: #AB5500;

  &.selected:hover, &.movable:hover {
    background-image: url('/static/core/assets/shadows/black_shadow.svg');
  }
}

.chess-piece {
  text-align: center;
  width: 100%;
  height: 100%;

  > span {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }

  > .piece {
    width: 100%;
    height: 100%;
    margin: auto;
    background-size: 80% 80% !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
  }
}
