.game {
  width: 100%;

  .wrapper {
    display: block;

    .board {
      display: inline-block !important;
      float: left;
    }

    .sidebar {
      display: inline-block !important;
      float: right;

      .header {
        padding-bottom: 10px;

        .controls {

        }
      }

      .messages {
        border: 1px solid rgb(221, 221, 221);
        border-radius: 4px;
        padding: 5px 10px;
        height: 100%;
        overflow-y: scroll;

        .user {
          color: #777;
          font-weight: bold;
        }

        .server {
          color: #00AAE3;
          font-weight: bold;
        }
      }
    }
  }
}


#piece-selection {
  > button {
    height: 60px;
    width: 60px;
  }
}
