.game_data {
  width: 100%;

  td {
  	padding-top: 2px;
  	padding-bottom: 2px;
  }
}

.inline_header {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 3px;
  font-weight: bold;
  font-size: 14px;
}

#content {
  width: 90%;
  margin: auto;
}

.gray {
  color: gray;
  font-style: italic;
}

.transcript {
  display: block;
  margin-left: 0px;
  padding-left: 0px;

  list-style-position: inside;
  list-style-type: decimal;
  div {
    display: inline-block;
    margin-left: 5px;
  }
}
