
.fixed-ratio {
  position: relative;
  width: 100%;

  &::before {
    content: "";
    display: block;
    padding-top: 100%;
    width: 100%;
  }

  > div {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
  }
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}
